.homeComponentWrapper {
  background-color: #000000;
  padding: 121px 87.5px;
}

.homeComponent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  max-width: 1728px;
  max-height: 638px;
  height: 100%;
  width: 100%;
  margin: auto;
  /* padding-top: clamp(20px, 6.3%, 121px);
  padding-bottom: clamp(20px, 6.3%, 121px);
  padding-right: clamp(16px, 5.05%, 96px);
  padding-left: clamp(16px, 5.05%, 96px);  */
}


.homeComponent .image1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.homeComponent .image2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.homeComponent .image3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.homeComponent .image4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.homeComponent .image5 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.homeComponent .image6 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.homeComponent .image7 {
  grid-column: 4 / 6;
  grid-row: 2 / 4;
}

.homeComponent .image8 {
  grid-column: 6 / 8;
  grid-row: 1 / 3;
}

.homeComponent .image9 {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}

.homeComponent .image10 {
  grid-column: 7 / 8;
  grid-row: 3 / 4;
}

.homeComponent .image11 {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}

header .header {
  height: 83px;
}

/* 
.homeComponent .column1 {
    display:flex;
    flex-direction: column;                              
    align-items: flex-end;
    padding-right: 8px;
}
.homeComponent .image1 {
    padding-bottom: 8px;
    width: 100%;
    height: 100%;
}

.homeComponent .image2 {
    max-width: 50%;    
    padding-top: 8px;
    padding-left: 8px;
    
}

.homeComponent .column2 {
    display: flex;
    flex-direction: column;     
    padding: 0 8px;
}
.homeComponent .image3 {        
    padding-bottom: 8px;
}
.homeComponent .image4 {   
    padding-top: 8px;
}

.homeComponent .column3 {
    display:flex;
    flex-direction: column;     
    padding: 0 8px;
}
.homeComponent .column3 .row {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
}
.homeComponent .image5 {
    max-width: 50%;    
    padding-right: 8px;
}
.homeComponent .image6 {
    max-width: 50%;    
    padding-left: 8px;
}
.homeComponent .image7 {    
    padding-top: 8px;
}

.homeComponent .column4 {
    display:flex;
    flex-direction: column;        
    padding: 0 8px;
}
.homeComponent .image8 {    
    padding-bottom: 8px;
}
.homeComponent .column4 .row {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}
.homeComponent .image9 {
    max-width: 50%;  
    padding-right: 8px;
}
.homeComponent .image10 {
    max-width: 50%;  
    padding-left: 8px;
}
.homeComponent .column5 {
    display:flex;
    flex-direction: column;
    padding-left: 8px;
}
.homeComponent .column5 .row1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 67.1%;
}
.homeComponent .image11 {
    padding-bottom: 8px;
} */

.topNav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  -ms-box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  -o-box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  padding: 137px 144px 37px 306px;
}

.topNav .logo {
  position: absolute;
  top: 62px;
  left: 92px;
  height: fit-content;
}

.topNav .customIcons {
  display: flex;
}

.topNav .customIcons p {
  font-family: AFDiwaBold;
  line-height: 1em;
  padding: 0 26px;
  font-size: 20px;
  color: #878787;
}

.topNav svg {
  width: 20px;
  height: 20px;
  color: #878787;
}

.pageContainer {
  top: 200px;
}

.customHeadlineArrows svg {
  padding-right: 14px;
  height: inherit;
  width: fit-content;
}

.leftNavPage .leftHandNav {
  height: calc(100vh - 200px);
}

div.linkComponent {
  max-width: 100%;
  min-width: unset;
}
figure figcaption {
  font-family: Tahoma;
  font-weight: bold;
}

.corporateIdentityColors {
  max-width: 100%;
}