
.staticSearch .headerSearch input.searchInput {
    width: 250px;
  }

.staticSearch {
    
    padding: 100px 40px;
}

.staticSearch mark {
    background-color: #0070b4;
    color: white;
    padding: 2px;
}
  
.staticSearch .list {
    padding: 20px;
    font-size: 20px;
    list-style: none;
}
.staticSearch .page {
    padding-bottom: 5px;
}
.staticSearch .page a {
    text-decoration: none;
    color: #0070b4;
    font-size: 24px;  
    display: flex;
    gap: 15px;  
}
.staticSearch .page a svg {
    width: 24px;
    height: 24px;
}
.staticSearch .title {
    padding: 20px 10px 10px 10px;
}
.staticSearch .description {
    padding: 0 10px;
}

.leftHandNav > .menus {
  height: fit-content;
}

.leftHandNav li button a {
    width: 242px;
}

.logoSticky {
  position: sticky;
  top: 167px;
  background-color: #f5f5f5;
}

.editMode .logoSticky {
  position: unset;
}

.corporateIcons .divider {
    border-bottom: 5px solid rgb(154, 154, 156);
}
.corporateIcons .title {
    
    font-size: 22px;
    line-height: 33px;
    color: rgb(65, 65, 65);
    padding-top: 20px;
    font-weight: normal;
}

.corporateIcons .subtitle {
    
    font-size: 22px;
    line-height: 33px;
    color: rgb(65, 65, 65);    
    padding-bottom: 40px;
    font-weight: normal;
}

.textDivider {
    display: flex;
    align-items: center;
}

.textDivider .divider {
    width: 100%;
}

.dividerText {
    text-transform: uppercase;
    line-height: 18px;
    font-size: 18px;
    padding: 1px 10px 0px 10px;
    white-space: nowrap;
    width: auto;
    font-weight: bold;
}