@charset 'UTF-8';

@font-face {
  font-family: ZFPrometeoLight;
  src: url('../fonts/ZF_Prometo/webfonts/EOT/ZFPrometo_W_Lt.eot');
  src: url('../fonts/ZF_Prometo/webfonts/EOT/ZFPrometo_W_Lt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ZF_Prometo/webfonts/WOFF/ZFPrometo_W_Lt.woff') format('woff'), 
  url('../fonts/ZF_Prometo/webfonts/WOFF2/ZFPrometo_W_Lt.woff2') format('woff2'),
  url("../fonts/ZF_Prometo/Desktop/ZFPrometo_Lt.ttf") format("truetype");
}

@font-face {
  font-family: ZFPrometeoMedium;
  src: url('../fonts/ZF_Prometo/webfonts/EOT/ZFPrometo_W_Md.eot');
  src: url('../fonts/ZF_Prometo/webfonts/EOT/ZFPrometo_W_Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ZF_Prometo/webfonts/WOFF/ZFPrometo_W_Md.woff') format('woff'), 
  url('../fonts/ZF_Prometo/webfonts/WOFF2/ZFPrometo_W_Md.woff2') format('woff2'),
  url("../fonts/ZF_Prometo/Desktop/ZFPrometo_Md.ttf") format("truetype");
}

@font-face {
  font-family: ZFPrometeoBold;
  src: url('../fonts/ZF_Prometo/Desktop/ZFPrometo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: ZFPrometeoThin;
  src: url('../fonts/ZF_Prometo/Desktop/ZFPrometo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: ZFSansLight;
  src: url("../fonts/ZF_Sans/OTF/ZFSans-Light.otf") format("opentype");
  src: url('../fonts/ZF_Sans/TTF/ZFSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: ZFSansMedium;
  src: url("../fonts/ZF_Sans/OTF/ZFSans-Medium.otf") format("opentype");
  src: url('../fonts/ZF_Sans/TTF/ZFSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: ZFSansBold;
  src: url("../fonts/ZF_Sans/OTF/ZFSans-Bold.otf") format("opentype");
  src: url('../fonts/ZF_Sans/TTF/ZFSans-Bold.ttf') format('truetype');
}