
.accordionList {
  display: flex;
  flex-direction: column;
}
.accordionItemWrapper {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.accordion {
  width: 100%;
}
.accordion .item .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordion .item .content.show {
  display: block;
}
.accordion .item .content.hide {
  display: none;
}

.tabsGroup {
  max-width: 100%;
}
.tabTitles {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.tabTitles .tab {
  flex: 1 1 0;
  
}
.tabContent {
  display: none;
}
.tabContent.tabActiveContent {
  display: block;
}

.imageGalleryComponent {
  display: grid;
  grid-auto-rows: 1fr;
  max-width: 100%;
}
.imageGalleryComponent .galleryImage {
  width: 100%;
  height: 100%;
}
.imageGalleryComponent.layout2 {
  grid-template-columns: repeat(2, 1fr);
}
.imageGalleryComponent.layout21 {
  grid-template-columns: 0.75fr 0.25fr;
}
.imageGalleryComponent.layout22 {
  grid-template-columns: 0.25fr 0.75fr;
}
.imageGalleryComponent.layout23 {
  grid-template-columns: calc(1fr / 3) calc((1fr / 3) * 2);
}
.imageGalleryComponent.layout24 {
  grid-template-columns: calc((1fr / 3) * 2) calc(1fr / 3);
}

.imageGalleryComponent.layout3 {
  grid-template-columns: repeat(3, 1fr);
}
.imageGalleryComponent.layout31 {
  grid-template-columns: 0.5fr 0.25fr 0.25fr;
}
.imageGalleryComponent.layout32 {
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
}
.imageGalleryComponent.layout33 { 
  grid-template-columns: 0.25fr 0.25fr 0.5fr;
}

.imageGalleryComponent.layout4 {
  grid-template-columns: repeat(4, 1fr);
}
.imageGalleryComponent.layout5 {
  grid-template-columns: repeat(5, 1fr);
}
.imageGalleryComponent.layout6 {
  grid-template-columns: repeat(6, 1fr);
}

.imageGalleryComponent.layouts21 {
  grid-template-columns: repeat(2, 1fr);
}
.imageGalleryComponent.layouts21 img:nth-child(3n+1) {
  grid-column: 1 / 3;
}
.imageGalleryComponent.layoutss12 {
  grid-template-columns: repeat(2, 1fr);
}
.imageGalleryComponent.layouts12 img:nth-child(3n+3) {
  grid-column: 1 / 3;
}

.listComponents {
  display: grid;
  gap: inherit;
}

.editMode .listComponents :first-child,
.editMode .listComponents :last-child {
  grid-column: 1 / -1;
}

.listComponents.layout1 {
  grid-template-columns: repeat(1, 1fr);
}

.listComponents.layout2 {
  grid-template-columns: repeat(2, 1fr);
}
.listComponents.layout21 {
  grid-template-columns: 0.75fr 0.25fr;
}
.listComponents.layout22 {
  grid-template-columns: 0.25fr 0.75fr;
}
.listComponents.layout23 {
  grid-template-columns: calc(1fr / 3) calc((1fr / 3) * 2);
}
.listComponents.layout24 {
  grid-template-columns: calc((1fr / 3) * 2) calc(1fr / 3);
}

.listComponents.layout3 {
  grid-template-columns: repeat(3, 1fr);
}
.listComponents.layout31 {
  grid-template-columns: 0.5fr 0.25fr 0.25fr;
}
.listComponents.layout32 {
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
}
.listComponents.layout33 { 
  grid-template-columns: 0.25fr 0.25fr 0.5fr;
}

.listComponents.layout4 {
  grid-template-columns: repeat(4, 1fr);
}

.listComponents.layout5 {
  grid-template-columns: repeat(5, 1fr);
}

.listComponents.layout6 {
  grid-template-columns: repeat(6, 1fr);
}
