header {
  display: flex;  
  justify-content: center;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo a {
  display: flex;
}

.rightHeader {
  display: flex;
  align-items: center;  
  gap: 20px;
}

.rightHeader .settings {
  height: 20px;
}

.rightHeader .settings svg {
  width: 20px;
  height: 20px;
}

.rightHeader .settings svg path {
  stroke: #000000b3;
}

.rightHeader .settings:hover svg path {
  color: #000000cc;
}

.rightHeader .headerSearch {
  align-self: center;
  height: 30px;
}

.headerSearch input.searchInput {
  padding: 0 10px 3px;
  width: 140px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000000cc;
  font-family: 'ZFSansLight';
}

input.searchInput[type="text"] {
  font-size: 14px;
}

input.searchInput::placeholder {
  color: #adadad;
  font-size: 14px;
}

input.searchInput:focus {
  border-color: #0070B4;
  outline: 0;
}

.headerSearch button {
  width: 30px;
  color: #ffffff;
  background-color: #0070B4;
  border-width: 1px;
  border-style: solid;
  border-color: #0070B4;
  padding: 5px;
  cursor: pointer;
}

.headerSearch svg {
  width: 18px;
  height: 18px;
  color: #fff;
}

.topNav {
  position: relative;
  
  display: flex;
  align-items: center;
  
  background-color: #ffffff;  
}

.editMode .topNav {
  position: relative;
  top: 0 !important;
}

.topNav .menus {
  display: flex;
  list-style: none;
}

.menu-item a {
  display: block;
  text-decoration: none;
}

.menu-item.level-0 > button a {
  font-weight: 700;
}

.topNav .menu-item .dropdown-submenu.level-2 {
  display: none;
}
.topNav .menu-item.level-0 {
  position: relative;
}

.topNav .menus > .menu-item > .dropdown.level-1 {
  flex-direction: column;
  width: max-content;
  position: absolute;
  top: 21px;
  background: #fff;
  padding: 30px;
}

.pageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  top: 90px;
  min-height: calc(100vh - 90px);
}

.editMode .pageContainer {
  top: 0 !important;
}

.leftNavPage {
  width: 1300px;
}

.leftNavPage .leftHandNav {
  height: calc(100vh - 90px);
  bottom: 0px;
}

.leftNavPage .rightMainContent {
  min-height: calc(100vh - 90px);
  position: relative;
  left: 220px;
}

.leftHandNav ul.menus {
  max-height: 100%;
}

.configComponentsPage {
  width: 800px;
  padding: 50px;
}

.leftHandNav .menu-item.level-2.active .dropdown {
  display: block;
}

.mpSearchPage,
.w2pSearchPage {
  width: 90vw;
}

div.linkComponent {
  max-width: 100%;
  min-width: unset;
}

.corporateIdentityColors {
  max-width: 100%;
}

.leftHandNav .menu-item.level-0 > button {
  display: none;
}

.footerSectionWrapper {
  background-color: #041023;
  padding: 50px 0;
}

ul.footerSection.columnSections.layout4 {
  background-color: #041023;
  width: 67%;
  margin: 0 auto;
  padding: 70px 20px;
  border-top: 2px dotted #bdbdbc;
  border-bottom: 2px dotted #bdbdbc;
}

ul.footerSection .link {
  font-family: ZFSansLight;
  line-height: 16px;
}

.description li {
  margin-left: 18px;
  line-height: 1.5;
}

@media only screen and (max-width: 1440px) {

  .bannerSection .headline {
    padding-left: 90px !important;
    font-size: 40px !important;
    line-height: 40px !important;
  }
  .bannerSection .span {
    height: 35px !important;
  }

  .bannerSection .description {
    padding-left: 90px !important;
    padding-bottom: 50px !important;
    width: 62% !important;
  }

  .bannerSection .imageTeaserComponent {
    height: 500px !important;
  }

  .bannerSection .imageTeaser {
    height: 500px !important;
  }

  .mainSection {padding-left: 90px !important;padding-right: 170px !important;}

  .rightHeader {
    padding-bottom: 12px !important;
  }

  .rightHeader .settings {
    height: 20px !important;
  }

  .rightHeader svg {
    height: 20px !important;
    width: 20px !important;
  }

  .rightHeader .faqPage a {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  .level-0 > button > a {
    padding-bottom: 24px !important;
    font-size: 18px !important;
    line-height: 18px !important;
  }

  .leftNavPage .leftHandNav {
    height: calc(100vh - 148px) !important;
  }
  
  .leftNavPage .leftHandNav, .pageContainer {
    min-height: calc(100vh - 148px) !important;
    top: 148px !important;
  }

}

.description * {
  color: inherit;
}

#zf_table th, #zf_table td {
  padding: 10px 10px;
  border: 1px solid #eaebeb;
  vertical-align: baseline;
}

#zf_table th {
  background-color: #f8f8f8;
  
}

#zf_table th p {
  line-height: 19.5px;
}

#zf_table li::marker {
  font-size: 10px
}

#zf_table li {
  margin-left: 37px;
}

table#zf_table {
  border-spacing: 0;
}

table#zf_table, #zf_table th, #zf_table td {
  border: 1px solid #eaebeb;
  border-collapse: collapse;
}