.textLink.layout1 {
  display: grid;
}

.textLink.layout2 {
  display: grid;
  grid-column-gap: 20px;
}

.textLink.layout2 .headline {
  grid-column: 1 / 3;
}

.borderTeaser.layout2.top_left .linkComponent,
.textLink.layout2.top_left .linkComponent {
  justify-self: left;
  align-self: flex-start;
}

.borderTeaser.layout2.top_center .linkComponent,
.textLink.layout2.top_center .linkComponent {
  justify-self: center;
  align-self: flex-start;
}

.borderTeaser.layout2.top_right .linkComponent,
.textLink.layout2.top_right .linkComponent {
  justify-self: right;
  align-self: flex-start;
}

.borderTeaser.layout2.center_left .linkComponent,
.textLink.layout2.center_left .linkComponent {
  justify-self: left;
  align-self: center;
}

.borderTeaser.layout2.center .linkComponent,
.textLink.layout2.center .linkComponent {
  justify-self: center;
  align-self: center;
}

.borderTeaser.layout2.center_right .linkComponent,
.textLink.layout2.center_right .linkComponent {
  justify-self: right;
  align-self: center;
}

.borderTeaser.layout2.bottom_left .linkComponent,
.textLink.layout2.bottom_left .linkComponent {
  justify-self: left;
  align-self: flex-end;
}

.borderTeaser.layout2.bottom_center .linkComponent,
.textLink.layout2.bottom_center .linkComponent {
  justify-self: center;
  align-self: flex-end;
}

.borderTeaser.layout2.bottom_right .linkComponent,
.textLink.layout2.bottom_right .linkComponent {
  justify-self: right;
  align-self: flex-end;
}
