*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  position: fixed;
  background-color: #f5f5f0;
  left: 0;
}
.loader {
  position: fixed;
  top: 45%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.homePage,
.contentPage {
  margin: 0 auto;
}

.contentPage {
  width: 100vw;
}

header {
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.editMode header {
  position: relative;
}

.languages {
  display: flex;  
  gap: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.userLinks {
  display: flex;  
  gap: 5px;
}
.userLinks a {
  display: flex;  
  gap: 5px;
  text-decoration: none;
}
.logout div {
  font-size: 24px;
  padding: 5px 8px 5px 8px;
  width: 40px;
  height: 36px;
}

.hideInNav-true {
  display: none;
}



.topNav .menus {
  display: flex;
  list-style: none;
}

.topNav .col-1 > .menu-item {
  width: 100%;
}
.topNav .col-2 > .menu-item {
  width: 50%;
}
.topNav .col-3 > .menu-item {
  width: calc(100% / 3);
}
.topNav .col-4 > .menu-item {
  width: calc(100% / 4);
}
.topNav .col-5 > .menu-item {
  width: calc(100% / 5);
}
.topNav .col-6 > .menu-item {
  width: calc(100% / 6);
}
.topNav .col-7 > .menu-item {
  width: calc(100% / 7);
}
.topNav .col-8 > .menu-item {
  width: calc(100% / 8);
}

.menu-item button {
  border: none;
  background-color: unset;
  cursor: pointer;
  width: 100%;
}

.menu-item a {
  display: block;
  text-decoration: none;
}

.topNav .dropdown {
  width: 100%;
  left: 0;  

  display: none;
  position: fixed;  
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
  0 4px 6px -2px rgba(71, 63, 79, 0.16);
  /* z-index: 9999; */
  list-style: none;  
}

.topNav .dropdown.level-1.show {
  display: flex;
}
.topNav .dropdown.show {
  display: block;
}

/* .topNav .col-1 .dropdown {
  min-width: 100%;
}
.topNav .col-2 .dropdown {
  min-width: 50%;
}
.topNav .col-3 .dropdown {
  min-width: calc(100% / 3);
}
.topNav .col-4 .dropdown {
  min-width: calc(100% / 4);
}
.topNav .col-5 .dropdown {
  min-width: calc(100% / 5);
}
.topNav .col-6 .dropdown {
  min-width: calc(100% / 6);
}
.topNav .col-7 .dropdown {
  min-width: calc(100% / 7);
}
.topNav .col-8 .dropdown {
  min-width: calc(100% / 8);
} */

.topNav .dropdown-submenu {  
  position: relative;
  width: auto;
  box-shadow: unset;
  /* position: absolute;
  left: 100% ;
  top: -7px; 
  margin: 0px 10px;   
  padding: 0 0 0 10px; */    
}

.topNav .dropdown-submenu.level-2 {
  display: block;  
}
.topNav .menu-item.level-2 {
  position: relative;
}
.topNav .dropdown-submenu.level-3 {
  position: absolute;
  left: 100%;
  bottom: 0px;
  z-index: 999;
  width: max-content;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  padding: 10px;
  background-color: white;
  border-top: 1px solid #f9f9f9;
}

.topNav .menu-item.level-2:first-child .dropdown-submenu.level-3 {
  top: 0px;
  bottom: unset;
}


/*Content with left hand navigation*/



.leftHandNav {
  width: 25%;  
  background-color: #fff;
  position: fixed;
}

.leftHandNav ul.menus {
  overflow-y: overlay;
}

.leftHandNav .menu-item{
  list-style: none;  
}

.leftHandNav .dropdown {
  display: none;
}
.leftHandNav .dropdown.show {
  display: block;
}
.leftHandNav ul:has(a.active) {
  display: block;
}

.leftHandNav .menu-item button {
  padding: 0;
  display: flex;
  align-items: center;
}

/* .leftHandNav a {
  min-width: fit-content;
} */

/* .leftNavChevron {
  position: relative;
  top: 2px;
} */
.leftNavChevron {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 40px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
  top: 1px;
}
.leftNavChevron.false::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
}
.menu-item:not(.active) .leftNavChevron.true::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: none;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px
}
.menu-item.active .leftNavChevron::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
}

.leftHandNav ::-webkit-scrollbar {
  width: 8px;  /* width of the entire scrollbar */
}

/* This styles the draggable scrolling handle */
.leftHandNav ::-webkit-scrollbar-thumb {
  background-color: darkgrey;  /* color of the scroll thumb */
  border-radius: 4px;          /* roundness of the scroll thumb */
  background-clip: content-box; /* this allows the thumb to be styled with borders or padding */
}

/* This styles the buttons on the scrollbar (up and down arrows, usually not present on modern scrollbars) */
.leftHandNav ::-webkit-scrollbar-button {
  display: none;  /* hides them */
}

/* Style the hover state of the scroll thumb */
.leftHandNav ::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/* .arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
} */

a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}

footer {
  display: flex;
  justify-content: space-between;
  background: #f5f5f0;
  padding: 55px 0 40px 25%;
  margin: 0;
  color: #414141;
  border-top: 1px solid #dedede;
}

footer a {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #414141;
  background-color: #f5f5f0;
  padding: 5px;
  text-decoration: none;
}